.upper-footer {
    width: 100%;
    background-color: $secondBgColor;
    .lower {
        display: flex;
        flex-basis: 1200px;
        padding: $spacing * 7 0;
        position: relative;
    }
}

.lower-footer {
    height: 100px;
    background-color: $bgColor;
}

.foot-menu {
    width: calc(100% / 4);
    padding: 0 $spacing * 2;
    ul {
        margin-top: 10px;
    }
    li {
        &:hover {
            text-decoration: underline;
            text-decoration-color: black;
        }
    }
    a {
        font-size: $menuSize;
        color: $secondFontColor;
    }
}

.social-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    ul {
        li{
            display: inline-block;
            padding: $spacing $spacing;
            a {
                font-size: 30px;
            }
        }
    }
}
