header {
    height: 100px;
    background-color: $bgColor;
}

.upper-header, .lower-header {
    height: 50%;
}

.upper-header {
    text-align: right;
    font-size: 12px;
}


.fas {
    color: $secondaryColor;
}


.upper-header {
    li {
        display: inline-block;
        padding: $spacing;
        a {
            span {
                color: $secondFontColor;
                margin-left: 5px;
                &:hover {
                    border-bottom: 1px solid $fontColor;
                }
            }
        }
    }

}

.lower-header {
    display: flex;
    align-items: center;
    li {
        display: inline-block;
        padding: $spacing * 2;
        a {
            color: $fontColor;
            .fas {
                color: $secondFontColor;
            }
        }
        &:hover, &:first-child {
            background-color: $secondBgColor;
            a {
                color: black;
            }
        }
    }
}

.logo {
    margin-right: $spacing;
}
