$fontColor: #fff;
$secondFontColor: #9d9d9d;
$secondaryColor: #009cff;
$bgColor: #101010;
$secondBgColor: #f1f1f1;
$fontSize: 14px;
$menuSize: 12px;
$fontFamily: 'Andika New Basic', sans-serif;
$spacing: 10px;
