@import 'partials/variables.scss';
@import 'partials/common.scss';
@import 'partials/mixins.scss';
@import 'partials/header.scss';
@import 'partials/footer.scss';
$fa-font-path: 'fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
